<div class="home-intro">

    <h4>⸻ Bienvenu dans mon monde d'hypnose ! ⸻</h4>

    <br><br><br><img src="https://i.imgur.com/o0b3x9z.jpeg" alt="me + intro">

    <h5>L'hypnose en quelques mots : c’est un état où l’on est très concentré et très detendu.
        <br> Une fois que l’on est dans cet état, on ‘ouvre’ certaines capacités du cerveau qui ne sont en général pas accessibles, ce qui permet d’explorer plein de choses !!
      </h5>

    <h4><br><b> Dans les expériences, ça peut être très varié.</b>

        <br>Ca peut etre juste découvrir les capacités de son cerveau
        <i><br>Ou bien quels sont les ressentis et bienfaits dans cet état de relaxation
        <br>Ca peut aussi etre pour vivre un moment ludique et récréatif
        <br><br><b> Entre plein d'autres objectifs possibles… dont des objectifs coquins ;)</i>
    </h4>

      <hr>
    <br><br> Si tu veux en savoir plus, tu peux simplement cliquer ici pour voir
      <br><a href="https://linktr.ee/pupasgfed">Toutes les propositions → </a>

      <hr>

    <br><br><br><img src="https://i.imgur.com/VjcxZBj.jpeg" alt="social proof image">

    <div class="home-sub-text">
      <h3>
        <br><br> Je suis pup depuis 2023, avec une découverte de l’hypnose qui m’a emmené vite dans le pupplay et d’autres kinks que je continue de découvrir.
        <br>Avec déjà plus de 150 hypnotisés, j’ai pu cumuler de l’expérience surtout avec des hommes gays, y compris des couples et des groupes.
        </h3>
        <h4><br><br> Après des expériences très fortes avec des ateliers de partage au Darklands et à Montpellier, j'ai décidé d'élargir la proposition pour permettre à un plus grand nombre de découvrir.
        </h4>

      <br><a href="https://humane-busby-349.notion.site/Ateliers-Hypno-Kink-pour-les-Associations-0271093d581145d5b3438ea163793e4b?pvs=4">Proposition pour les associations → </a>

      <hr>

        <b><br><br>Pour savoir plus, tu peux retrouver mon contenu un peu partout : </b>
        <br>Tous mes posts <a href="https://pupasgfed.github.io/notes">par ici</a>
        <br>Twitter / X <a href="https://pupasgfed.github.io/notes">@pupasgfed</a>
        <br>Instagram <a href="https://pupasgfed.github.io/notes">@pupasgfed</a>
        <br>Tiktok <a href="https://pupasgfed.github.io/notes">@pupasgfed</a>

</div> </div>
